/*

USER: CANDIDATE 
SEPT 28 2013
T.ROSS

*/


/*=========== OVERVIEW CLASSESS =================*/

		.stage-nav {
			box-shadow: 0px 0px 100px #000;
		}
		.subnav-nav {
			background: #732843;
		}
		.stage-col {
			box-shadow: 0px 0px 100px rgba(0,0,0, .5);
			
		}
		
		.squared {
			border-radius: 0;
		}
		
		.cand-navbar-logo {

			padding:16px 16px;
		}
		
		.cand-navbar {
			
			text-align:right;
		}
		
		.cand-navbar-logo {
			font-size:18px;
		}
		
		ul.cand-navlist  {
			list-style:none;
			margin:none;
		}
		
		.cand-nav {
			background:#F5F5F5; 
		    box-sizing:border-box;
		    -moz-box-sizing:border-box; /* Firefox */
			padding:30px 0;
			text-align:center;
			border-bottom: 1px dotted #444;
		}
		.cand-main {
			background:#F5F5F5; 
			padding:20px;
		    box-sizing:border-box;
		    -moz-box-sizing:border-box; /* Firefox */
		}
		
		.overview-task-wrap {
			margin: 10px 0;
		}
		.date-wrap {
			text-align:center;
			display:inline-block;
			margin:0px 5px 20px 0;
		}
		.date-wrap > small {
			display:block;
			font-size:12px;
			margin:5px 0;
		}
		.date-wrap > large {
			display:block;
			font-size:35px;
			margin:5px 0;
		}
		

		.start {
			color:#24992B;
		}
		
		.due {
			color: #991F30;
		}
		
		.vert-divider {
			border-left: 2px solid #fff;
			padding-left:10px;
		}
		
		.overview-task-wrap {
			padding: 20px 0;
			border-bottom:1px dotted #444
		}
		.task-details {
			padding:0 20px 0 15px;
		}
		h2.task {
			margin-bottom:25px;
			line-height: 1.3;
		}
		
		.disabled:hover {
			color:none;
		}
		
		.footer {
			background:#444;
		}
		.stage-foot {
			box-shadow: 0px 0px 100px rgba(0,0,0, .5);
		}
		
		.training-stage {
			background: #444;
			padding:10px 15px;
		    box-sizing:border-box;
		    -moz-box-sizing:border-box; /* Firefox */
		}
		
		.training-sidebar > ul > li > h4 {
			color:#fff;
		}
		
		.training-sidebar > ul {
			padding:0;
			margin:20px 0;
		}
		
		.training-sidebar > ul >li {
			list-style:none;
			margin: 10px 0;
			
		}
		
		.inner-shadow-deep {
		    -moz-box-shadow:    inset 0 0 30px #000000;
		    -webkit-box-shadow: inset 0 0 30px #000000;
		    box-shadow:         inset 0 0 30px #000000;
		}
		
		.panel-squared {
			background:#fff;
			padding:30px;
		}
		
		table.table-form {
			margin:20px;
		}
		
		.table-form td {
			border:none;
			margin:15px 0;
		}
		
		.thick-margin {
			margin:0 25%;
		}
